body {
    font-family: Arial, sans-serif;
    background: #f4f6f8;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 900px;
    margin: auto;
    background: #ffffff;
    padding: 25px;
}

h1, h2 {
    color: #2c3e50;
}

.speaker {
    display: flex;
    gap: 20px;
    align-items: center;
}

.speaker img {
    width: 150px;
    border-radius: 10px;
}

.info-box {
    background: #ecf0f1;
    padding: 15px;
    margin: 15px 0;
    border-radius: 8px;
}

form label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

form input,
form select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

.total {
    font-weight: bold;
    color: green;
    margin-top: 10px;
}

button {
    margin-top: 15px;
    background: #27ae60;
    color: white;
    padding: 10px;
    border: none;
    width: 100%;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #219150;
}

/* PENGESAHAN */
.box {
    max-width: 600px;
    background: white;
    margin: 50px auto;
    padding: 20px;
    border-radius: 8px;
}
